body{
    font-family: sans serif;
    background:url('https://images.unsplash.com/photo-1509275698723-ae804786a334?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80')no-repeat;
    background-size: cover;
    color:black;
    padding:0px;
    margin left:20 auto;
    margin right:20 auto;
   
}
.navigation-bar ul li a{
 text-decoration:none;
 
    
}
.navigate{
    display:flex;
    
}
.item:hover{
    background-color:#696969;
}   

.item{
    border:2px solid #e6dcA4;
    border-radius:30px;
    color:black;
    border-style:inset;
    list-style:none;
    text-align:center;
    padding:20px 20px;
    margin:6px;
    font-size:25px;
    box-shadow:5px 2px 3px black;
}         
.nav ul{
  float: right;
   color:white;
  list-style-type: none;
  margin: 40px;
}

.nav ul li{
  display: inline-block;
  color:white;
  font-family:'opensans-regular',sans-serif;
}

.intro-images{
  background-image: url(..images/none);
  text-align: center;
  padding-top: 80px;
  min-height: 40px;
  padding-right: 1%;
  padding-left: 4%;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-position: center center;
  overflow: auto;
  font-size:20px;
  }
.skills-intro{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
color:black;    
}
.footer{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}
.contact{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}
.projects{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}